

.header {
	background-color: var(--color-bg-medium);
}
/* 
Обозначение стилей для класса header(Заголовок)
Добавляет в стили класса цвет заднего фона согласно переменной --color-bg-medium
*/

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 24px;
}
/* 
Обозначение стилей для класса header__wrapper(Ограничитель заголовка)
Добавляет в стили класса:
- Максимальную длину согласно переменной --layout-width
- Отступ от края страницы равный 0 пикселей(Убирает его)
- Неупорядочный стиль блоков
- Выравнивание блоков между собой
- Выравнивание блоков по центру
- Отступ от краев блока в 40 и 24 пикселя
*/


.menu {
	list-style: none;
	display: flex;
	gap: 40px;
	margin: 0;
}
/* 
Обозначение стилей для класса menu(Меню)
Добавляет в стили класса:
- Отключение стиля списка
- Неупорядочный стиль блоков
- Отступ элементов списка друг от друга на 40 пикселей
- Отступ от края равный 0 пикселей(Убирает его)
*/

.menu__item {
	padding: 8px 16px;
}
/* 
Обозначение стилей для класса menu__item(Элемент списка)
Добавляет в стили класса:
- Отступ границ кнопки от текста 
*/

.menu__item a {
	cursor: pointer;
	font-size: 18px;
	line-height: 120%;
	color: var(--color-text);
}

/* 
Обозначение стилей для класса menu__item a(Текст в элементе списка)
Добавляет в стили класса:
- Отслеживание курсора
- Размер шрифта
- Высота текстового поля
- Цвет текста согласно переменной --color-text
*/


.menu__item:hover a {
	color: var(--color-link-hover);
}
/* 
Обозначение стилей для класса menu__item:hover a (Текст элемента списка при наведении на него курсора)
Добавляет в стили класса:
- Изменение цвета согласно переменной --color-link-hover
*/

.menu__item_active {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-8);
}
/* 
Обозначение стилей для класса menu__item_active(Вид активного элемента списка)
Добавляет в стили класса:
- Жирная обводка в 1 пиксель и цветом согласно переменной --color-stroke
- Размер обводки согласно переменной --border-8
*/

/* 
P.S Все переменные находятся в global.css
*/